.Root {
  @apply
    flex flex-col gap-3
    h-full
    py-3 px-2
    border-r border-gray-700;
  min-width: 150px;
  max-width: 250px;
}

.BarItem {
  @apply px-3 py-2 cursor-pointer rounded bg-dark;
  transition: 0.3s all;

  &:hover {
    @apply bg-gray-800;
  }
}